@charset "utf-8";

/* COMMON */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin:0px; padding:0px; border:0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

html { font-size:13px; line-height:1.2; -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body { position:relative; color:#666; background-color:#fff; }

/* TEXT 렌더링 */
body * { font-family:Dotum, Helvetica, Arial, Verdana, sans-serif; text-rendering:auto; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; -moz-font-feature-settings:"liga", "kern"; }
body.mobile * { font-family:NanumBarunGothicRegular, Helvetica, Arial, Verdana, sans-serif; }
input, select, textarea, button, a { color:#666; }

input, select, textarea, button { appearance:none; -moz-appearance:none; -webkit-appearance:none; height:35px; margin:0px; padding:0px; border:1px #ddd solid; border-radius:0px; box-sizing:border-box; line-height:normal; font-size:1rem; background-color:#fff; text-align:left; }
select::-ms-expand { display: none; }
.ie7 select, .ie8 select, .ie9 select { border-radius:0px !important; padding:0px !important; background-image:none !important; }
input:disabled, select:disabled, textarea:disabled { background-color:#edeef0; }
input { padding:0px 10px; border-radius:0px; text-align:left; outline-style:none; line-height:normal; }
input[type="date"], input[type="search"] { border:1px #ddd solid; }
/*
	<input type="text" placeholder="INSERT TEXT" value="">
	<a href="javascript:;">삭제</a>

input[type="text"] + a:before { display:block; background-image:url(../images/common_img.png); background-size:200px 200px; background-repeat:no-repeat; background-position:0px 0px; }
input[type="text"] + a { position:absolute; display:none; width:35px; height:35px; top:50%; right:20px; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); overflow:hidden; }
input[type="text"] + a:before { content:''; position:absolute; width:12px; height:12px; top:50%; left:50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); background-position:-67px 1px; }
input[type="text"]:focus + a { display:block; }
*/
a, input[type="submit"], button, select, textarea { cursor:pointer; text-decoration:none; }
a:visited { color:#666; }

select, input, input + *, select + * { vertical-align:middle; }
input + *, select + * { line-height:normal; }
button, textarea { vertical-align:top; }
textarea { height:65px; padding:10px; }
button { padding:0px 15px; border:0px; text-align:center; }

::-webkit-input-placeholder { color:#9a9a9a; line-height:normal; }
::-moz-placeholder { color:#9a9a9a; line-height:-moz-block-height; }
:-ms-input-placeholder { color:#9a9a9a; line-height:normal; }

.android ::-webkit-input-placeholder { line-height:1; }
.android :-ms-input-placeholder { line-height:1; }

input[type="checkbox"], input[type="radio"], input[type="image"] { width:auto; height:auto; padding:0px; border:0px; vertical-align:middle; background-color:transparent; cursor:pointer; }
input[type="checkbox"]:focus, input[type="radio"]:focus, input[type="image"]:focus { padding:0px; border:0px; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { appearance:none; -moz-appearance:none; -webkit-appearance:none; } /* Input spinbutton remove */

/* 폰트에 따라 변경
input[type="checkbox"], input[type="radio"], input[type="image"], input + *, select + * { vertical-align:text-top; } // 나눔고딕
폰트에 따라 변경 */

/* CUSTOM */
input[type="checkbox"], input[type="radio"], #ie input[type="checkbox"] + label:before, #ie input[type="radio"] + label:before, select { display:block; background-image:url(../images/common_img.png); background-repeat:no-repeat; background-position:0px 0px; background-size:200px 200px; }
#ie input[type="checkbox"], #ie input[type="radio"] { position:absolute; width:1px; height:1px; margin:0px; font-size:0rem; overflow:hidden; opacity:0; }
#ie input[type="checkbox"] + label { position:relative; line-height:20px; }
#ie input[type="radio"] + label { position:relative; line-height:16px; }
#ie input[type="checkbox"] + label:before, #ie input[type="radio"] + label:before { content:''; vertical-align:top; }
input[type="checkbox"], #ie input[type="checkbox"] + label:before { display:inline-block; width:20px; height:20px; margin-right:5px; padding:0px; border:0px; }
input[type="checkbox"]:checked, #ie input[type="checkbox"]:checked + label:before { background-position:-25px 0px; }
input[type="checkbox"]:disabled, #ie input[type="checkbox"]:disabled + label:before { background-position:-100px 0px; }
input[type="checkbox"]:checked:disabled, #ie input[type="checkbox"]:checked:disabled + label:before { background-position:-125px 0px; }
input[type="radio"], #ie input[type="radio"] + label:before { display:inline-block; width:16px; height:16px; margin-right:5px; padding:0px; border:0px; background-position:0px -25px; }
input[type="radio"]:checked, #ie input[type="radio"]:checked + label:before { background-position:-22px -25px; }
input[type="radio"]:disabled, #ie input[type="radio"]:disabled + label:before { background-position:-100px -25px; }
input[type="radio"]:checked:disabled, #ie input[type="radio"]:checked:disabled + label:before { background-position:-122px -25px; }

::-webkit-search-cancel-button, ::-webkit-clear-button { appearance:none; -moz-appearance:none; -webkit-appearance:none; display:block; width:12px; height:12px; background-image:url(../images/common_img.png); background-size:200px 200px; background-repeat:no-repeat; background-position:-67px 1px; }

select { padding:0px 30px 0px 10px; border:1px #dbdbdb solid; box-sizing:border-box; background-position:right bottom; }
/* // CUSTOM */

/* IE6~8 */
input { _width:expression( (this.type=='checkbox'||this.type=='radio'||this.type=='image') ? 'auto' : '' ); _height:expression( (this.type=='checkbox'||this.type=='radio'||this.type=='image') ? 'auto' : '' ); _padding:expression( (this.type=='checkbox'||this.type=='radio'||this.type=='image') ? '0' : '' ); _border:expression( (this.type=='checkbox'||this.type=='radio'||this.type=='image') ? '0' : '' ); }
/* IE6~8 */

/* BLOCK TEXT SELECT */
input, textarea {
    -webkit-user-select:text;
    -khtml-user-select:text;
    -moz-user-select:text;
    -o-user-select:text;
    user-select:text;
  }
* {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:-moz-none;
    -o-user-select:none;
    user-select:none;
  }
/* // BLOCK TEXT SELECT */

/* BLOCK DRAGGING */
* {
    -webkit-user-drag:none;
    -moz-user-drag:none;
    user-drag:none;
    /** turn off tap highlights on iOS */
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout:none;
}
/* // BLOCK DRAGGING */

/* SCROLLBAR */
::-webkit-scrollbar { width:8px; height:8px; border:3px solid #fff; }
::-webkit-scrollbar-track { -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); background-color: #efefef; }
::-webkit-scrollbar-thumb { width:50px; height:50px; -webkit-border-radius:8px; border-radius:8px; -webkit-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, 0.1); background-color:rgba(0, 0, 0, 0.2); }
/* // SCROLLBAR */

h1 { font-size:2rem; }
h2 { font-size:1.5rem; }
h3 { font-size:1.17rem; }
h4 { font-size:1.12rem; }
h5 { font-size:0.83rem; }
h6 { font-size:0.75rem; }

ul, ol, li, dl, dt, dd { list-style:none; }

blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:none; }

table, tr, th, td { border-collapse:separate; border-spacing:0px; }

caption, legend { position:absolute; width:1px; height:1px; font-size:0px; overflow:hidden; }

/* FLEX */
.flex { display:flex; display:-webkit-flex; display:-moz-flex; display:-ms-flexbox; flex-direction:row; -webkit-flex-direction:row; -moz-flex-direction:row; -ms-flex-direction:row; flex:auto; -webkit-flex:auto; -moz-flex:auto; -ms-flex:auto; width:100%; overflow:hidden; }
.flex.Htype2 { justify-content:space-between; -webkit-justify-content:space-between; -moz-justify-content:space-between; -ms-flex-pack: justify; }
.flex.Htype3 { justify-content:space-around; -webkit-justify-content:space-around; -moz-justify-content:space-around; -ms-flex-pack: center; }
.flex.Vtype2 { align-content:space-between; -webkit-align-content:space-between; -moz-align-content:space-between; -ms-flex-pack: justify; }
.flex.Vtype3 { align-content:space-around; -webkit-align-content:space-around; -moz-align-content:space-around; -ms-flex-pack: center; }
.flex.HAutoCenter { align-items:center; -webkit-align-items:center; -moz-align-items:center; }

.flex .cell { flex:1; -webkit-flex:1; -moz-flex:1; -ms-flex:1; }
.flex .fix { flex:none; -webkit-flex:none; -moz-flex:none; -ms-flex:none; }
.flex .auto { flex-direction:row; -webkit-flex-direction:row; -moz-flex-direction:row; -ms-flex-direction:row; flex:auto; -webkit-flex:auto; -moz-flex:auto; -ms-flex:auto; }
.flex .Hfill { display:flex; display:-webkit-flex; display:-moz-flex; display:-ms-flexbox; } /* flex 하위 요소 최대 높이값으로 맞추기 */

/* FLEXCENTER */
.flexboxCenter { display:box; display:-webkit-box; display:-moz-box; display:-ms-box; box-align:center; -webkit-box-align:center; -moz-box-align:center; -ms-box-align:center; align-items:center; -webkit-align-items:center; -moz-align-items:center; -ms-align-items:center; box-pack:center; -webkit-box-pack:center; -moz-box-pack:center; -ms-box-pack:center; justify-content:center; -webkit-justify-content:center; -moz-justify-content:center; -ms-justify-content:center; }

/* FLEXWRAP */
.flex.wrap { flex-wrap:wrap; -webkit-flex-wrap:wrap; -moz-flex-wrap:wrap; -ms-flex-wrap:wrap; }

/* LINES */
.oneline { display:block; width:100%; height:13px; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; word-break:break-all; overflow:hidden; }
.twoline { display:-webkit-box; max-height:26px; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis; word-break:break-all; overflow:hidden; }

/* MIDDLE */
.middle { top:50%; left:50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); }
.middleX { left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); }
.middleY { top:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); }

/* PLUS, MINUS */
.plus, .minus { position:relative; display:inline-block; width:35px; height:35px; border:1px #ccc solid; box-sizing:border-box; text-align:center; color:#fff; font-size:0px; vertical-align:top; background-color:#fff; }
.plus:before, .minus:before { content:''; position:absolute; width:10px; height:2px; left:50%; top:50%; margin:-1px 0 0 -5px; background-color:#7f7f7f; }
.plus:after { content:''; position:absolute; width:10px; height:2px; left:50%; top:50%; margin:-1px 0 0 -5px; transform:rotate(90deg); -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); background-color:#7f7f7f; }

/* BUTTON */
.btn { display:inline-block; color:#898b92; padding:0px 15px; box-sizing:border-box; border:1px #d2d2d2 solid; line-height:normal; background-color:#fff; text-align:center; font-weight:normal; vertical-align:top; }
.btn.Clr2 { border:0px; color:#fff; background-color:#e51f2e; }
.btn.Clr3 { border:0px; color:#fff; background-color:#404040; }
.btn.Clr4 { border:1px #c3c4c7 solid; color:#898b92; background-color:#e1e2e4; }
.btn.Clr5 { border:1px #e51f2e solid; color:#e51f2e; background-color:#fff; }
.btn.Clr6 { border:0px; color:#fff; background-color:#a6a9b0; }
.btn.Clr7 { border:1px #404040 solid; color:#404040; background-color:#fff; }
.btn.Clr8 { color:#fff; background-color:#666; }

.small_btn { height:25px; font-size:0.9rem; }
a.small_btn { line-height:23px; }
.middle_btn { height:35px; font-size:1.1rem; }
a.middle_btn { line-height:33px; }
.large_btn { height:45px; font-size:1.1rem; }
a.large_btn { line-height:43px; }
/* // BUTTON */

/* BTN CHILD LENGTH */
.btn_wrap > * { float:left; }
.btn_wrap button:first-child:nth-last-child(1) { width:100%; } /* one item */
.btn_wrap button:first-child:nth-last-child(2), .btn_wrap button:first-child:nth-last-child(2) ~ button { width:50%; } /* two items */
.btn_wrap button:first-child:nth-last-child(3), .btn_wrap button:first-child:nth-last-child(3) ~ button { width:33.333333333333336%; } /* three items */
.btn_wrap button:first-child:nth-last-child(4), .btn_wrap button:first-child:nth-last-child(4) ~ button { width:25%; } /* four items */

/* ETC CLASS */
.textindent { text-indent:-9999px !important; overflow:hidden !important; }
.hidden { display:block !important; width:0px !important; height:0px !important; overflow:hidden !important; }
.hidden_acc { position:absolute !important; width:1px !important; height:1px !important; font-size:0rem !important; overflow:hidden !important; }

.positionR { position:relative !important; }
.positionA { position:absolute !important; }
.positionF { position:fixed !important; }

.fltL { float:left !important; }
.fltR { float:right !important; }
.fltN { float:none !important; }

.displayblock { display:block !important; }
.displayinlineblock { display:inline-block !important; }
.displaynone { display:none !important; }

.widthAuto { width:auto !important; min-width:auto !important; max-width:auto !important; }
.heightAuto { height:auto !important; min-height:auto !important; max-height:auto !important; }

.border0 { border:0px !important; }
.border1C1 { border:1px #ddd solid; }
.borderB1C1 { border-bottom:1px #ddd solid; }

.boxsizing { box-sizing:border-box !important; }

.width10 { width:10% !important; }
.width20 { width:20% !important; }
.width30 { width:30% !important; }
.width35 { width:35% !important; }
.width40 { width:40% !important; }
.width50 { width:50% !important; }
.width60 { width:60% !important; }
.width70 { width:70% !important; }
.width80 { width:80% !important; }
.width90 { width:90% !important; }
.width100 { width:100% !important; }

.margin0 { margin:0px !important; }
.margin5 { margin:5px !important; }
.margin10 { margin:10px !important; }
.margin15 { margin:15px !important; }
.margin20 { margin:20px !important; }
.marginT5 { margin-top:5px !important; }
.marginT10 { margin-top:10px !important; }
.marginT15 { margin-top:15px !important; }
.marginB5 { margin-bottom:5px !important; }
.marginB10 { margin-bottom:10px !important; }
.marginB15 { margin-bottom:15px !important; }
.marginLR5 { margin-left:5px !important; margin-right:5px !important; }
.marginLR10 { margin-left:10px !important; margin-right:10px !important; }
.marginLR15 { margin-left:15px !important; margin-right:15px !important; }

.padding0 { padding:0px !important; }
.padding5 { padding:5px !important; }
.padding10 { padding:10px !important; }
.padding15 { padding:15px !important; }
.padding20 { padding:20px !important; }
.paddingT5 { padding-top:5px !important; }
.paddingT10 { padding-top:10px !important; }
.paddingT15 { padding-top:15px !important; }
.paddingB5 { padding-bottom:5px !important; }
.paddingB10 { padding-bottom:10px !important; }
.paddingB15 { padding-bottom:15px !important; }
.paddingLR5 { padding-left:5px !important; padding-right:5px !important; }
.paddingLR10 { padding-left:10px !important; padding-right:10px !important; }
.paddingLR15 { padding-left:15px !important; padding-right:15px !important; }

.bgColor1 { background-color:#fff !important; }
.bgColor2 { background-color:#e51f2e !important; }
.bgColor3 { background-color:#404040 !important; }
.bgColorN { background-color:transparent !important; }

.Color1 { color:#3b3f4b !important; }
.Color2 { color:#898b92 !important; }
.Color3 { color:#aeafb4 !important; }
.Color4 { color:#e51f2e !important; }
.Color5 { color:#b6b8bd !important; }

.fontSize08 { font-size:0.8rem !important; }
.fontSize09 { font-size:0.9rem !important; }
.fontSize10 { font-size:1rem !important; }
.fontSize11 { font-size:1.1rem !important; }
.fontSize12 { font-size:1.2rem !important; }

.lineHeight10 { line-height:1 !important; }
.lineHeight11 { line-height:1.1 !important; }
.lineHeight12 { line-height:1.2 !important; }
.lineHeight13 { line-height:1.3 !important; }

.txtLeft { text-align:left !important; }
.txtCenter { text-align:center !important; }
.txtRight { text-align:right !important; }

.verticalAlignT { vertical-align:top !important; }
.verticalAlignM { vertical-align:middle !important; }
.verticalAlignB { vertical-align:bottom !important; }

.fontWeightB { font-weight:bold !important; }
.fontWeightN { font-weight:normal !important; }

.wordBreakAll { word-break:break-all !important; }

.hCenter { position:absolute; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); }
.vMiddle { position:absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); }
.hvCenter { position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); }
/* // ETC CLASS */
/* // COMMON */


#wrap { position:relative; width:1920px; height:1080px; margin:0px auto; overflow:hidden; background-image:url('../images/loading.png'); }
#wrap_all { position:relative; z-index:10; }
#wrap_bgall { position:relative; top:0px; left:0px; transition:transform 0.8s ease-in-out; -webkit-transition:transform 0.8s ease-in-out; -moz-transition:transform 0.8s ease-in-out; z-index:8; }
#wrap_bgall img { position:absolute; top:0px; left:0px; z-index:1; }
#wrap_bgall img.hover { display:none; z-index:5; }

#wrap_bgvideo { position:relative; z-index:5; }
#wrap_bgvideo video { position:absolute; opacity:0; width:1920px; height:1080px; top:0px; left:0px; z-index:1; }
#wrap_bgvideo video.selected { opacity:1; z-index:5; }

#default_video_start, #default_video { position:relative; width:1920px; height:1080px; transition:transform 0.8s ease-in-out; -webkit-transition:transform 0.8s ease-in-out; -moz-transition:transform 0.8s ease-in-out; z-index:1; }

#wrap_bgvideo video.video_out { transition:transform 0.8s ease-in-out; -webkit-transition:transform 0.8s ease-in-out; -moz-transition:transform 0.8s ease-in-out; }

#default_video_start, .element, .popup { position:absolute; z-index:10; }
.popup { z-index:8; }

.element { overflow:hidden; }
.element.back { width:100px; height:100px; top:975px; left:20px; }
.element > img { position:absolute; display:block; width:59px; top:-30px; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); }

.depth2, .depth3 { display:none; }
.depth2.selected, .depth3.selected { display:block; z-index:5 !important; }

/* SECTION1 */
.element1_1_1 { transform:scale(2.2); transform-origin:158px 895px; }
.element1_2_1 { transform:scale(2.2); transform-origin:1094px 73px; }
.element1_3_1 { transform:scale(2.2); transform-origin:520px 575px; }
.element1_4_1 { transform:scale(2.2); transform-origin:682px 1066px; }
.element1_5_1 { transform:scale(2.2); transform-origin:1806px 719px; }
.element1_6_1 { transform:scale(2.2); transform-origin:874px 40px; }
/* // SECTION1 */

/* SECTION2 */
.element2_1_1 { transform:scale(2.4); transform-origin:1276px 860px; }
.element2_2_1 { transform:scale(2.4); transform-origin:126px 696px; }
.element2_3_1 { transform:scale(2.4); transform-origin:615px 358px; }
.element2_4_1 { transform:scale(2.3); transform-origin:393px 0px; }
/* // SECTION2 */

/* SECTION3 */
.element3_1_1 { transform:scale(2.85); transform-origin:1406px 49px; }
.element3_2_1 { transform:scale(2.85); transform-origin:1920px 650px; }
.element3_3_1 { transform:scale(2.85); transform-origin:900px 609px; }
.element3_4_1 { transform:scale(2.85); transform-origin:139px 916px; }
/* // SECTION3 */

/* SECTION4 */
.element4_1_1 { transform:scale(2.8); transform-origin:1426px 83px; }
.element4_2_1 { transform:scale(4.9); transform-origin:1053px 130px; }
.element4_3_1 { transform:scale(2.8); transform-origin:431px 572px; }
.element4_4_1 { transform:scale(5.3); transform-origin:1276px 352px; }
.element4_5_1 { transform:scale(4.3); transform-origin:1570px 984px; }
/* // SECTION4 */

/* SECTION5 */
.element5_1_1 { transform:scale(2.4); transform-origin:1920px 0px; }
.element5_2_1 { transform:scale(2.8); transform-origin:1424px 387px; }
.element5_3_1 { transform:scale(2.4); transform-origin:784px 176px; }
.element5_4_1 { transform:scale(2.4); transform-origin:35px 675px; }
/* // SECTION5 */

/* LAYER POPUP */
.layer_bg { display:none !important; }

.float_layer_popup { position:fixed; display:none; width:1920px; height:1080px; top:0px !important; left:0px !important; transform:translate(0px, 0px) !important; overflow:hidden; background-image:url('../images/bg_right.png'); background-repeat:no-repeat; background-position:0px 0px; }

.float_layer_popup.section1_1 .content_scroll { background-image:url('../images/section1/trashcan_cover.png'); }
.float_layer_popup.section1_2 .content_scroll { background-image:url('../images/section1/car_cover.png'); }
.float_layer_popup.section1_3 .content_scroll { background-image:url('../images/section1/drone_cover.png'); }
.float_layer_popup.section1_4 .content_scroll { background-image:url('../images/section1/ambulance_cover.png'); }
.float_layer_popup.section1_5 .content_scroll { background-image:url('../images/section1/signal_cover.png'); }
.float_layer_popup.section1_6 .content_scroll { background-image:url('../images/section1/jog_cover.png'); }

.float_layer_popup.section2_1 .content_scroll { background-image:url('../images/section2/hologram_cover.png'); }
.float_layer_popup.section2_2 .content_scroll { background-image:url('../images/section2/print_cover.png'); }
.float_layer_popup.section2_3 .content_scroll { background-image:url('../images/section2/screen_cover.png'); }
.float_layer_popup.section2_4 .content_scroll { background-image:url('../images/section2/elevator_cover.png'); }

.float_layer_popup.section3_1 .content_scroll { background-image:url('../images/section3/cloth_cover.png'); }
.float_layer_popup.section3_2 .content_scroll { background-image:url('../images/section3/cosmetic_cover.png'); }
.float_layer_popup.section3_3 .content_scroll { background-image:url('../images/section3/grandma_cover.png'); }
.float_layer_popup.section3_4 .content_scroll { background-image:url('../images/section3/paycart_cover.png'); }

.float_layer_popup.section4_1 .content_scroll { background-image:url('../images/section4/refri_cover.png'); }
.float_layer_popup.section4_2 .content_scroll { background-image:url('../images/section4/dog_cover.png'); }
.float_layer_popup.section4_3 .content_scroll { background-image:url('../images/section4/robot_cover.png'); }
.float_layer_popup.section4_4 .content_scroll { background-image:url('../images/section4/3D_cover.png'); }
.float_layer_popup.section4_5 .content_scroll { background-image:url('../images/section4/plant_cover.png'); }

.float_layer_popup.section5_1 .content_scroll { background-image:url('../images/section5/rehabilitation_cover.png'); }
.float_layer_popup.section5_2 .content_scroll { background-image:url('../images/section5/doctor_cover.png'); }
.float_layer_popup.section5_3 .content_scroll { background-image:url('../images/section5/machine_cover.png'); }
.float_layer_popup.section5_4 .content_scroll { background-image:url('../images/section5/bed_cover.png'); }

.float_layer_popup .close_btn { position:absolute; width:50px; height:50px; top:52px; right:47px; text-indent:-9999px; overflow:hidden; background-position:-457px 0px; z-index:1; }
.float_layer_popup video { position:absolute; width:695px; height:463px; top:36px; right:34px; border-radius:15px 15px 0px 0px; }

.float_layer_popup .content_scroll { position:absolute; width:694px; height:355px; top:500px; right:34px; padding-top:120px; border-radius:0px 0px 25px 25px; background-color:#f3f2f3; background-position:-1210px -490px; overflow:hidden; }
.float_layer_popup .content_scroll img { position:relative; display:block; width:100%; z-index:1; }
.float_layer_popup .content_scroll img.positionA { z-index:5; }
.float_layer_popup .content_scroll div { position:relative; max-height:355px; overflow-y:auto; z-index:1; }
.float_layer_popup .content_scroll div img { width:568px; margin:45px 0px 70px 30px; }

.float_layer_popup.left { background-image:url('../images/bg_left.png'); }
.float_layer_popup.left > a.close_btn { right:1207px; }
.float_layer_popup.left video { right:1190px; }
.float_layer_popup.left .content_scroll { width:693px; right:1190px; background-position:-20px -490px; }
/* // LAYER POPUP */
